* {
  margin: 0
}

img {
  width: 400px;
  height: 400px;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* ======================== products containers ==================================== */

#outer-products-div {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.products {
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto)); /*1fr*/
  grid-gap: 1rem 1rem;
  justify-content: center;
}

/* ======================== each product in list ==================================== */

.product-small {
  width: 300px;
  height: 300px;
  outline: solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-image {
  height: 200px;
  width: 200px;
}

.product-name {
  font-size: 20px;
}

.in-stock {
  color: green;
}

.out-of-stock {
  color: red;
}

/* ======================== single product ==================================== */
