* {
  margin: 0
}

img {
  width: 400px;
  height: 400px;
}

body {
  font-family: sans-serif;
  height: 100%;
  position: relative;
}

.main-container {
  min-height: 100vh;
  padding-bottom: 100px;
  overflow: hidden;
  display: block;
  position: relative;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* ======================== products containers ==================================== */

#outer-products-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.products {
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto)); /*1fr*/
  grid-gap: 1rem 1rem;
  justify-content: center;
}

/* ======================== filter and search ==================================== */

.product-small {
  display: inline-block;
}

.filter-search-outer {
  width: 100%;
  height: 70px;
}

.filter-search {
  margin-right: 0;
  background: #570000;
  width: 100%;
  display: flex;
}

.search{
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.filter-bar {
  margin-top: 16px;
  position: absolute;
  right: 0;
  margin-right: 200px;
}

.main-products-page {
  height: 100vw;
  padding: 0;
}

.background {
}



/* ========================== each product in list ================================ */

.product-small {
  width: 400px;
  height: 400px;
  /* outline: solid grey; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.filter-title-outer {
  width: 100%
}

.filter-title-div {
  width: 100%;
}

.filter-title {
  float: left;
  display: block;
  color: #570000;
  font-size: 50px;
  margin-left: 5%;
  margin-top: 0;
  text-transform: capitalize;
}

.product-image {
  height: 300px;
  width: 300px;
}

.product-name {
  font-size: 20px;
}

.product-name {
  color: black;
  font-size: 30px;
}

.product-price {
  color: black;
}

.in-stock {
  color: green;
}

.out-of-stock {
  color: red;
}

/* ======================== chart button ==================================== */

.cart-link {
  float: right;
  margin-right: 2%;
  background-color:palegoldenrod;
  /* margin-bottom: 120px; */
  position: relative;
  bottom: 0;
  right: 105px;
}

#shopping-cart-image {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  z-index: 2;
  position: absolute;
  bottom: 1%;
}

#shopping-cart-image2 {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  z-index: 3;
  position: absolute;
  bottom: 1%;
  opacity: 0;
}

#shopping-cart-image2:hover {
  opacity: 0.5;
}

#shopping-cart-image2:active,
#shopping-cart-image:active
 {
  border-style: solid;
  border-color: #F5F5F5;
  border-width: 1px;
}

.cart-number {
  background-color: yellow;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  color: black;
  line-height: 1.6;
   position: absolute;
  bottom: 33.5px;
  left: 31px;
  z-index: 3;
}

#banner {
  /* background-image: url("https://preview.ibb.co/mS8jXf/let-it-brie-logo.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.menu {
  float: left;
}

.login-nav {
  float: right;
}

.nav-links {
  float: left;
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: black;
}

.footer-text{
  color: white;
  text-align: center;
  line-height: 2;
}

.our-story{
  border-style: outset
}


html, body, #container, .carousel {
	height:100%;
	margin: 0;
	width: 100%;
}

.image-slide {
	height: 100%;
	width: 100%;
	transition: background-image .3s ease-in-out;
}

.slide-arrow {
	color: blue;
	cursor: pointer;
	font-size: 2rem;
	position: fixed;
	top: 50%;
}

.slide-arrow.right {
	right: 1rem;
}

.slide-arrow.left {
	left: 1rem;
}




/* ======================== navbar  ==================================== */
.nav-text {
  color: white;
  margin-top: 12px;
}

.nav-other {
  margin-top: 40px;
}

.nav-text:hover {
  color: #B8B8B8;
  margin-top: 12px;
}

#nav-text {
  background-color: black;
  height: 40px;
  margin-top: 7px;
}

.main-title {
  margin-top: 3.6%;
  margin-left: 2.1%;
  font-family: 'Great Vibes', cursive;
  font-size: 8vw;
}

.group-logo {
  margin-left: 2%;
  height: 15vw;
  width: 15vw;
}
.banner-div {
  display: flex;
  justify-content: space-between;
}

.logo-and-title-div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.login-signup-div {
  display: flex;
}

#nav-text-line {
  color: white;
  margin-top: 12px;
}

.order-hist-img {
  height: 70px;
  width: 70px;
}

.home-page {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.home-image {
  width: 70%;
  height: auto;
  display: flex;
  align-self: center;
  margin-bottom: 10%;
}

.home-page-title {
  font-size: 4.5vw;
  display: flex;
  align-self: center;
}

/* ======================== our story ==================================== */

.team {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.ourStory{
  display: flex;
  width: 100%;
  margin-top: 0;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.083em;
  justify-content: space-evenly;
  flex-direction: column;
}

.meet-the-title {
  margin-bottom: 2%;
  font-family: 'Great Vibes', cursive;
  color: #570000;
  font-size: 4vw;
}

.ourStory{
  text-align: justify;
}

.ourStory p{
  text-align: center;
  font-size: 1em;
  padding-top: 0;
  margin-top: 0
}

.how-title {
  text-align: center;
  color: black;
}

.teamContainer{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-evenly;
  justify-items: flex-start;
  padding-top: 0;
  margin-top:0
}

.teamContainer figure{
  width: 20%;
  height: auto;
  padding: 2%;
  margin: 0;
  padding-top:0;
  margin-top:0
}

.teamContainer img{
  width: 100%;
  height: auto;
  border-radius: 37%;
  box-sizing: border-box;
}

.teamContainer h5{
  padding:0;
  font-size: 2em;
  margin:0;
}

.teamContainer p{
  text-align: center
}

.teamContainer span{
  font-size: 1.5em
}

/* ======================== Login ==================================== */

.form-page {
  margin-top: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-square {
  border-style: groove;
  width: 50%;
  display: flex;
  justify-content: center;
}

.form-square2 {
  border-style: groove;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-page input {
  background-color: #EDF0FC;
  width: 100%;
  border: none;
  font-size: 15px;
  padding: 5px;
}

.black-button {
  color: white;
  background-color: black;
  margin-top: 5%;
  font-size: 15px;
  padding: 10px;
}

.google-button {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.google {
  font-size: 20px;
}

.account {
  margin-left: 5%;
}

.account-edit {
  display: flex;
}

#edit-button {
  width: 20px;
  height: 20px;
}

#no-button-color {
  background-color: white;
}

/* ======================== order history =================================== */

.status-title {
  margin-top: 5%;
  color: #570000;
}

.history-div {
  /* width: 100%;
  display: flex;
  align-content: center;
  background-color: yellow; */
}

.history-div-inner {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.each-order {
  border-style: solid;
  border-color: grey;
}

.order-num {
  position: relative;
  right: 0;
}

.order-text {
  color: black;
}

.status {
  margin-top: 20px;
}

.order-price {
  margin-bottom: 20px;
}

.margin-left {
  margin-left: 20px;
}

.single-product {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

button {
  color: white;
  background-color: black;
}

.cart-item-name {
  color: black;
}

#slideshow {
  margin-top: 2px;
  padding-top: 2px;
 }
