* {
  margin: 0
}

img {
  width: 400px;
  height: 400px;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* ======================== products containers ==================================== */

#outer-products-div {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.products {
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto)); /*1fr*/
  grid-gap: 1rem 1rem;
  justify-content: center;
}

/* ======================== each product in list ==================================== */

.product-small {
  width: 300px;
  height: 300px;
  outline: solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-image {
  height: 200px;
  width: 200px;
}

.product-name {
  font-size: 20px;
}

.in-stock {
  color: green;
}

.out-of-stock {
  color: red;
}

/* ======================== chart button ==================================== */

/* #shopping-cart {

} */

#shopping-cart-image {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border-style: outset;
  border-color: #526BD4;
}

.cart-number {
  background-color: yellow;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 1.4;
  /*------- changes here */
  position: absolute;
  top: 5px;
  right: 0;
}

#banner {
  background-image: url("https://preview.ibb.co/mS8jXf/let-it-brie-logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightsalmon;
  height: 250px;
  width: 100%;
}

#navbar {
  background-color: lightsalmon;
  width: 100%;
}

.menu {
  float: left;
}

.login-nav {
  float: right;
}

.nav-links {
  float: left;
}

.cart-link {
  float: right;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: black;
}

.footer-text{
  color: burlywood;
  text-align: center
}

.our-story{
  border-style: outset
}

